.button{
    background-color: #DB4444;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}
.auth{
    border-bottom: 1px solid rgba(0, 0, 0, 0.315);
    padding: 2px;
}
ul{
    list-style: none;
}
li{
    list-style-type: none;
    padding: 3px;
}
.trendingCat:hover h1{
    color: white;
}
.trendingCat:hover span>svg{
    color: white;
}